@mixin inline-spinner() {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 11px;
    width: 12px;
    height: 12px;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: left top;
    border-top: 2px solid rgba(38, 132, 199, 0.9);
    border-right: 2px solid rgba(38, 132, 199, 0.3);
    border-bottom: 2px solid rgba(38, 132, 199, 0.325);
    border-left: 2px solid rgba(38, 132, 199, 0.35);
    border-radius: 50%;
    content: '';
    animation: rotate-spinner1 0.8s infinite linear;
  }

  @keyframes rotate-spinner1 {
    from {
      transform: rotate(0deg) translate3d(-50%, -50%, 0);
    }
    to {
      transform: rotate(359deg) translate3d(-50%, -50%, 0);
    }
  }
}

@mixin inline-spinner-rtl() {
  &:after {
    left: auto;
    right: 100%;
  }
}
