@import "../../scss/mixins/mixins";
@import "../../scss/mixins/clearfix";
@import "../../scss/mixins/spinners";
@import "../../scss//variables/colors";
@import "../../scss/variables/dls-icon-font";
@import "../../scss/variables/radius";
@import "../../assets/dls/css/app.bundle.css";

/* Styles */

.align {
    justify-content: center;
    display: flex;
}

.btn-left {
    padding-left: 0%;
    display: flex;
    justify-content: center;
    margin-left: 94%;
}

img {
    width: 108px;
    margin-top: 0.25rem;
    height: 30px;
    margin-left: 1.75rem;
    background-size: contain;
    display: flex;
}
