/* You can add global styles to this file, and also import other style files */

html,
body {
    min-width: 582px;
    padding: 0 10px;
    background-color: #001b3a;
    margin: 1px -9px 10px -9px;
}
