// Colors

// Primary
$true-white: #fff;
$true-black: #000;
$true-blue: #003876;
$medium-blue: #002a59;
$medium-grey: #666;
$dark-grey: #333;
$background-grey: #f4f6f9;
$primary-blue-strong: #01244b;
$dark-blue: #277eaf;

// Highlight and status
$table-highlight-grey: #e8ebef;
$disabled-grey: #d6d6d6;
$true-red: #ee3d42;
$red-lighten-3: #ef9a9a;
$red-darken-4: #b71c1c;
$bright-orange: #fbb03b;
$orange-lighten-3: #ffcc80;
$orange-darken-4: #ff8f00;
$bright-green: #7ac943;
$green-lighten-3: #c5e1a5;
$green-darken-4: #1b5e20;
$bright-blue: #3fa9f5;
$bright-blue-lighten-3: #81d4fa;
$bright-blue-darken-4: #01579b;
$deep-blue: #001c3b;
$error-color: #c0392b;
$warning-color: #f9a23d;
$disabled-color: #9b9b9b;
$table-highlight-grey: #e8ebef;
$table-row-active: #cce4f8;
$gray-lightish: #b0b0b0 !default;
$grey-fields: $gray-lightish;
$basic-grey: #333333;

// Hovers and active
$active-blue: #2684c7;
$active-green: #66b330;

$cmx-label-grey: #9ca4ae;

// MSG colours
$cmx-form-label: $deep-blue;
$cmx-form-field-border: #adaebb;

// Shadows and translucent colours
$box-shadow-colour: rgba($true-black, 0.07);
$map-background-grey: rgba($disabled-grey, 0.5);
